
#contact {
  text-align: center;
  padding: 2rem;
}

.contactPageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contactDesc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Center the form horizontally */
  max-width: 40rem; /* Adjust the maximum width as needed */
  /* background: rgb(60, 50, 50); */


}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background:rgb(40,40,40)
}

.msg {
  resize: vertical; /* Allow textarea to be resizable vertically */
}

button[type="submit"] {
  background-color:palevioletred;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: rgb(151, 52, 151);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the links horizontally */
  margin-top: 2rem;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem; /* Adjust the width of the links as needed */
  margin: 0 1rem;
  cursor: pointer;
}
