
#contact {
  text-align: center;
  padding: 2rem;
}

.contactPageTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contactDesc {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Center the form horizontally */
  max-width: 40rem; /* Adjust the maximum width as needed */
  /* background: rgb(60, 50, 50); */


}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background:rgb(40,40,40)
}

.msg {
  resize: vertical; /* Allow textarea to be resizable vertically */
}

button[type="submit"] {
  background-color:whitesmoke;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color:#333
}
/* 
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
 
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem; 
  margin: 0 1rem;
  cursor: pointer;
} */
/* Add styles for round links */
.round-link {
  display: inline-block;
  border-radius: 50%; /* Make the link round */
  background-color: black; /* Set the background color to black */
  padding: 8px; /* Adjust the padding as needed */
  margin: 0 10px; /* Add margin for spacing */
  transition: background-color 0.3s ease; /* Add a smooth transition for background color changes */
  margin-top: 2rem;
}

/* Style the link images (icons) inside the round links */
.round-link .link {
  display: block;
  width: 40px; /* Set the width of the icon */
  height: 40px; /* Set the height of the icon */
  object-fit: cover;
  filter: invert(100%); /* Invert the icon colors to white */
}

/* Change the background color of the round link when hovered */
.round-link:hover {
  background-color: #333; /* Change to a darker color on hover */
}

