.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 3; 
}



.desktopMenuListItem{
    
    margin: 1rem;
    cursor: pointer;
    color: whitesmoke;
}
.desktopMenuListItem:hover{
    color: palevioletred;
    padding-bottom: 0.5rem;
    
}
.desktopMenuBtn {
    background: whitesmoke;
    color: black;
    border:none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    justify-content: space-between;


}

.desktopMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}